{% extends "account/base.html" %}

{% load i18n %}

{% block title %} | {% trans "Sign In" %}{% endblock %}

{% block content %}
<section id="login" class="bg-light py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card">
          <div class="card-header bg-primary text-white">
            <h4>
              <i class="fas fa-sign-in-alt"></i> {% trans "Sign In" %}</h4>
          </div>
          <div class="card-body">
              <!-- ALERTS -->
              {% include 'partials/_alerts.html' %}
              
              <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="primaryAction btn btn-secondary btn-block" type="submit">{% trans "Sign In" %}</button>
                <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
