{% extends "account/base.html" %}

{% load i18n %}
{% block title %} | {% trans "Change Password" %}{% endblock %}

{% block content %}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
    <div class="row text-center">
        <div class="col-md-12">
        <h1 class="display-4">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
        </div>
    </div>
    </div>
  </section>
  
  <section id="create" class="bg-light py-5">
         <div class="container">
           <div class="row">
             <div class="col-md-6 mx-auto">
               <div class="card">
                 <div class="card-header bg-primary text-white">
                   <h4>
                     <i class="fas fa-edit"></i>  {% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h4>
                 </div>
                 <div class="card-body">
                     <!-- ALERTS -->
                     {% include 'partials/_alerts.html' %}
                     
                     {% if token_fail %}
                        {% url 'account_reset_password' as passwd_reset_url %}
                        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                    {% else %}
                        {% if form %}
                            <form method="POST" action="{{ action_url }}">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <input type="submit" name="action" value="{% trans 'change password' %}" class="btn btn-success btn-block"/>
                            </form>
                        {% else %}
                            <p>{% trans 'Your password is now changed.' %}</p>
                        {% endif %}
                    {% endif %}
  
                 </div>
               </div>
             </div>
           </div>
        </div>
    </section>
{% endblock %}
