{% extends "account/base.html" %}

{% load i18n %}

{% block title %} | {% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
    <div class="row text-center">
        <div class="col-md-12">
        <h1 class="display-4">{% trans "Verify Your E-mail Address" %}</h1>
        </div>
    </div>
    </div>
  </section>
  
  <section id="create" class="bg-light py-5">
         <div class="container">
           <div class="row">
             <div class="col-md-6 mx-auto">
               <div class="card">
                 <div class="card-header bg-primary text-white">
                   <h4>
                     <i class="fas fa-edit"></i>  {% trans "Verify Your E-mail Address" %}</h4>
                 </div>
                 <div class="card-body">
                     <!-- ALERTS -->
                     {% include 'partials/_alerts.html' %}
                     
                     {% url 'account_email' as email_url %}

                     <p>{% blocktrans %}This part of the site requires us to verify that
                     you are who you claim to be. For this purpose, we require that you
                     verify ownership of your e-mail address. {% endblocktrans %}</p>
                     
                     <p>{% blocktrans %}We have sent an e-mail to you for
                     verification. Please click on the link inside this e-mail. Please
                     contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
                     
                     <p>{% blocktrans %}<strong>Note:</strong> you can still <a href="{{ email_url }}">change your e-mail address</a>.{% endblocktrans %}</p>
  
                 </div>
               </div>
             </div>
           </div>
        </div>
    </section>

{% endblock %}
